*{
    margin: 0;
    padding: 0;
}

h1{
    background: pink;
    font-size: 40px;
}

h1{
    align-content: center;
}
.music{
    margin-top: -10rem;
    width: 5rem;
    height: 5rem;
    background: pink;
    border: none;
    border-radius: 3rem;
    font-size: 40px;
}

.music:hover{
    background: rebeccapurple;
}

.container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(barbie.jpg)
}

.barrinha{
    width: 36rem;
    height: 3rem;
    background-color: rgb(121, 121, 121);
    border: solid rgb(121, 121, 121);
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.barrinha div{
    width: 2.5rem;
    height: 2.5rem;
    background: rgb(0, 0, 0);
    align-self: flex-end;
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.barrinha button{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background: none;
    border: none;
    width: 2.5rem;
    height: 2.5rem;
}

.barrinha button:hover{
    background-color: rgb(255, 0, 0);
}

.calculadora{
    width: 36rem;
    height: 40rem;
    background: rgb(254, 164, 164);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: solid rgb(121, 121, 121);

}

.display{
    width: 30rem;
    height: 5rem;
    background: rgb(153, 190, 153);
    margin-top: auto;
    
    
}

.display1{
    height: 0rem;
    width: 0rem;
    margin-left: 1rem;
    background: green;
    border: none;
    font-size: 40px;
}

.keyboard{
    width: 30rem;
    height: 28rem;
    
    margin: 2rem;
}

.keyboard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.row1{
    margin: auto;
}

.key{
    width: 6rem;
    height: 6rem;
    font-size: 30px;
    margin-top: -1rem;
    margin-right: 0.5rem;
    
    
    
}


.keyclear{
    width: 4rem;
    height: 4rem;
    font-size: 30px;
    display: flex;
    margin-left: 24.5rem;
    margin-top: -3rem;
    justify-content: center;
    border-radius: 3rem;


    
}

.row1 button:hover {
    color: red;
}

#display{
    font-size: 40px;
    background-color: transparent;
    align-self: center;
    margin-top: -0.5rem   ;
    margin-left: 1rem;
}